<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Restaurant Admin</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <style>
         /* Remove the navbar's default margin-bottom and rounded borders */ 
         .navbar {
         margin-bottom: 0;
         border-radius: 0;
         }
         /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
         .row.content {height: 450px}
         /* Set gray background color and 100% height */
         .sidenav {
         padding-top: 20px;
         background-color: #f1f1f1;
         height: 100%;
         }
         /* Set black background color, white text and some padding */
         footer {
         background-color: #555;
         color: white;
         padding: 15px;
         }
         /* On small screens, set height to 'auto' for sidenav and grid */
         @media screen and (max-width: 767px) {
         .sidenav {
         height: auto;
         padding: 15px;
         }
         .row.content {height:auto;} 
         }
      </style>
   </head>
   <body>
      <nav class="navbar navbar-inverse">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>                        
               </button>
               <a class="navbar-brand" href="#">Just Eat Takeaway</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
               <ul class="nav navbar-nav">
               </ul>
               <ul class="nav navbar-nav navbar-right">
                  <a class="navbar-brand" href="#">Restaurant Admin System</a>
               </ul>
            </div>
         </div>
      </nav>
      <div class="container-fluid text-center">
         <div class="row content">
            <div class="col-sm-2 sidenav">
            </div>
            <div class="col-sm-8 text-left">
               <div class="alert alert-danger" role="alert" th:if="${errorResponse.message}">
  				<ul>
  					<p th:text="${errorResponse.message}" class="error" />
        			<li th:each="err : ${errorResponse.errors}" th:text="${err}" class="error" />
    			</ul>
				</div>
			   <form th:action="@{/addRestaurant}" method="post" th:object="${restaurant}" th:if="${action} != 'update'">
                  <div class="form-group row">
                     <p/>
                     <p/>
                     <p/>
                        <label class="col-sm-2 col-form-label">Restaurant Name</label>
                     <div class="col-sm-10">
                        <input type="text" th:field="*{restaurantName}" class="form-control" placeholder="Restaurant Name">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label class="col-sm-2 col-form-label">Status</label>
                     <div class="col-sm-10">
                        <input type="text" th:field="*{status}" class="form-control" placeholder="open/closed">
                     </div>
                  </div>
                  <input type="hidden" th:field="*{id}" />
                  
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Add Restaurant</button>  
               </form>
               <form th:action="@{/updateRestaurant}" method="post" th:object="${restaurant}" th:if="${action} == 'update'">
                  <div class="form-group row">
                     <p/>
                     <p/>
                     <p/>
                        <label class="col-sm-2 col-form-label">Restaurant Name</label>
                     <div class="col-sm-10">
                        <input type="text" th:field="*{restaurantName}" class="form-control" placeholder="Restaurant Name">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label class="col-sm-2 col-form-label">Status</label>
                     <div class="col-sm-10">
                        <input type="text" th:field="*{status}" class="form-control" placeholder="open/closed">
                     </div>
                  </div>
                  <input type="hidden" th:field="*{id}" />
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Update Restaurant</button>
               </form>
               <br/><br/><br/>
               <table class="table table-dark">
                  <thead>
                     <tr>
                        <th scope="col">Restaurant Name</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr th:each="restaurant: ${restaurants}">
                        <td th:text="${restaurant.restaurantName}"/>
                        <td th:text="${restaurant.status}"/>
                        <td><button type="button" class="btn btn-primary" th:onclick="|window.location.href='/editRestaurant?id=${restaurant.id}'|">Edit</button></td>
                        <td><button type="button" class="btn btn-danger"  th:onclick="|window.location.href='/deleteRestaurant?id=${restaurant.id}'|">Delete</button></td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="col-sm-2 sidenav">
            </div>
         </div>
      </div>
      <footer class="container-fluid text-center">
         <p></p>
      </footer>
   </body>
</html>